#input_selection {
  // size media queries at 760px
  @media screen and (min-width: 760px) {
    display: flex;
    flex-flow: row;
    width: 70%;
    margin: 1rem auto;
  }

  // size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 54%;
  }
}

.form_input {
  font-family: $futura;
  border: none;
  padding: 3px 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4px;
}

.submit_btn {
  background-color: #000;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: $frdisp;
}

input[type="checkbox"] {
  visibility: hidden;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid $smallfont;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 8px;
  margin: 0.2em 0.3em 0 0;
  padding: 0;
  vertical-align: top;
  width: 8px;
}
input[type="checkbox"]:checked + label:before {
  background: $red_pop;
  color: $smallfont !important;
  content: "\2713";
  text-align: center;
  margin-bottom: 1px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

#checkbox_1 {
  margin-left: -3rem;
}
