#popup_top {
  background-color: #fff;
  width: 98%;
  height: 69%; //TODO temp
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#box_top {
  border: 4px solid #f5f5f5;
  width: 14%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 22%;

  // size media queries at 760px
  @media screen and (min-width: 760px) {
    top: 19%;
  }

  // size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 10%;
    height: 48%;
    top: 20%;
  }
}

#close_btn {
  text-align: right;
  color: $red_pop;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  cursor: pointer;
}

#intro_title {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 99;

  & > h1 {
    font-family: $frdisp;
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 2.6rem;
    font-weight: 500;
  }

  p:first-child {
    margin-top: 2rem;
  }

  & > p {
    &:nth-child(1),
    &:nth-child(2) {
      font-family: $futura;
      text-transform: uppercase;
    }
    &:nth-child(3) {
      font-family: $frdisp;
      font-style: italic;
      margin: 6px 0;
    }
  }
}

#separator {
  border-bottom: 1px solid $red_pop;
  width: 14%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 36%;

  // size media queries at 760px
  @media screen and (min-width: 760px) {
    top: 36%;
  }

  // size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 10%;
  }
}

.color_red {
  color: $red_pop;
}

#introduction {
  width: 80%;
  margin: 13px auto;
  font-size: 0.9rem;

  // size media queries at 760px
  @media screen and (min-width: 760px) {
    font-size: 1rem;
    margin-top: 2.5rem;
    width: 70%;
  }

  // size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 54%;
  }
}

#thelist {
  width: 60%;
  margin: 10px auto;
  // size media queries at 760px
  @media screen and (min-width: 760px) {
    margin-top: 6rem;
  }

  p {
    margin: 10px 0;
    font-family: $futura;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 15px;

    // size media queries at 760px
    @media screen and (min-width: 760px) {
      font-size: 1rem;
    }

    // size media queries at 1200px
    @media screen and (min-width: 1200px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  ul {
    text-align: left;
    list-style: none;

    // size media queries at 640px
    @media screen and (min-width: 640px) {
      margin-top: 1rem;
    }

    li {
      font-family: $futura;
      &::before {
        content: "\2022";
        color: $red_pop;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;

        // size media queries at 760px
        @media screen and (min-width: 760px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
